In [1]:
import pandas as pd

In [2]:
pandas.__version__

'0.20.1'

In [3]:
pandas.read_csv('../data/gapminder.tsv', delimiter='\t')

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [4]:
df=pandas.read_csv('../data/gapminder.tsv', delimiter='\t')

In [5]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.shape

(1704, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [9]:
country_df=df['country']

In [10]:
df.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [11]:
df[['country','continent','year']]

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
5     Afghanistan      Asia  1977
6     Afghanistan      Asia  1982
7     Afghanistan      Asia  1987
8     Afghanistan      Asia  1992
9     Afghanistan      Asia  1997
10    Afghanistan      Asia  2002
11    Afghanistan      Asia  2007
12        Albania    Europe  1952
13        Albania    Europe  1957
14        Albania    Europe  1962
15        Albania    Europe  1967
16        Albania    Europe  1972
17        Albania    Europe  1977
18        Albania    Europe  1982
19        Albania    Europe  1987
20        Albania    Europe  1992
21        Albania    Europe  1997
22        Albania    Europe  2002
23        Albania    Europe  2007
24        Algeria    Africa  1952
25        Algeria    Africa  1957
26        Algeria    Africa  1962
27        Algeria    Africa  1967
28        Algeria    Africa  1972
29        Algeria    Africa  1977
...           ...       ...   ...
1674  Yemen, Rep.      Asia  1982
1675  Yemen, Rep.      Asia  1987
1676  Yemen, Rep.      Asia  1992
1677  Yemen, Rep.      Asia  1997
1678  Yemen, Rep.      Asia  2002
1679  Yemen, Rep.      Asia  2007
1680       Zambia    Africa  1952
1681       Zambia    Africa  1957
1682       Zambia    Africa  1962
1683       Zambia    Africa  1967
1684       Zambia    Africa  1972
1685       Zambia    Africa  1977
1686       Zambia    Africa  1982
1687       Zambia    Africa  1987
1688       Zambia    Africa  1992
1689       Zambia    Africa  1997
1690       Zambia    Africa  2002
1691       Zambia    Africa  2007
1692     Zimbabwe    Africa  1952
1693     Zimbabwe    Africa  1957
1694     Zimbabwe    Africa  1962
1695     Zimbabwe    Africa  1967
1696     Zimbabwe    Africa  1972
1697     Zimbabwe    Africa  1977
1698     Zimbabwe    Africa  1982
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [12]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [13]:
df[0]

KeyError: 0

In [ ]:
del df['country']

In [14]:
print(df.drop('continent',axis=1,inplace=True)) 
# drop column when we use the inplace = True and assign back the data fto the dataframe
# OR  df = df.drop('continent',axis=1) # ---> We are explicity assigning the vaues from the drop back to the dataframe

None

In [16]:
print(df)

          country  year  lifeExp       pop    gdpPercap
0     Afghanistan  1952   28.801   8425333   779.445314
1     Afghanistan  1957   30.332   9240934   820.853030
2     Afghanistan  1962   31.997  10267083   853.100710
3     Afghanistan  1967   34.020  11537966   836.197138
4     Afghanistan  1972   36.088  13079460   739.981106
5     Afghanistan  1977   38.438  14880372   786.113360
6     Afghanistan  1982   39.854  12881816   978.011439
7     Afghanistan  1987   40.822  13867957   852.395945
8     Afghanistan  1992   41.674  16317921   649.341395
9     Afghanistan  1997   41.763  22227415   635.341351
10    Afghanistan  2002   42.129  25268405   726.734055
11    Afghanistan  2007   43.828  31889923   974.580338
12        Albania  1952   55.230   1282697  1601.056136
13        Albania  1957   59.280   1476505  1942.284244
14        Albania  1962   64.820   1728137  2312.888958
15        Albania  1967   66.220   1984060  2760.196931
16        Albania  1972   67.690   2263554  3313.422188
17        Albania  1977   68.930   2509048  3533.003910
18        Albania  1982   70.420   2780097  3630.880722
19        Albania  1987   72.000   3075321  3738.932735
20        Albania  1992   71.581   3326498  2497.437901
21        Albania  1997   72.950   3428038  3193.054604
22        Albania  2002   75.651   3508512  4604.211737
23        Albania  2007   76.423   3600523  5937.029526
24        Algeria  1952   43.077   9279525  2449.008185
25        Algeria  1957   45.685  10270856  3013.976023
26        Algeria  1962   48.303  11000948  2550.816880
27        Algeria  1967   51.407  12760499  3246.991771
28        Algeria  1972   54.518  14760787  4182.663766
29        Algeria  1977   58.014  17152804  4910.416756
...           ...   ...      ...       ...          ...
1674  Yemen, Rep.  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.  2007   62.698  22211743  2280.769906
1680       Zambia  1952   42.038   2672000  1147.388831
1681       Zambia  1957   44.077   3016000  1311.956766
1682       Zambia  1962   46.023   3421000  1452.725766
1683       Zambia  1967   47.768   3900000  1777.077318
1684       Zambia  1972   50.107   4506497  1773.498265
1685       Zambia  1977   51.386   5216550  1588.688299
1686       Zambia  1982   51.821   6100407  1408.678565
1687       Zambia  1987   50.821   7272406  1213.315116
1688       Zambia  1992   46.100   8381163  1210.884633
1689       Zambia  1997   40.238   9417789  1071.353818
1690       Zambia  2002   39.193  10595811  1071.613938
1691       Zambia  2007   42.384  11746035  1271.211593
1692     Zimbabwe  1952   48.451   3080907   406.884115
1693     Zimbabwe  1957   50.469   3646340   518.764268
1694     Zimbabwe  1962   52.358   4277736   527.272182
1695     Zimbabwe  1967   53.995   4995432   569.795071
1696     Zimbabwe  1972   55.635   5861135   799.362176
1697     Zimbabwe  1977   57.674   6642107   685.587682
1698     Zimbabwe  1982   60.363   7636524   788.855041
1699     Zimbabwe  1987   62.351   9216418   706.157306
1700     Zimbabwe  1992   60.377  10704340   693.420786
1701     Zimbabwe  1997   46.809  11404948   792.449960
1702     Zimbabwe  2002   39.989  11926563   672.038623
1703     Zimbabwe  2007   43.487  12311143   469.709298

[1704 rows x 5 columns]

In [18]:
df = pandas.read_csv('../data/gapminder.tsv', delimiter='\t')

In [19]:
# Loc usage 
df.loc[0]   # first Row Row 1

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [21]:
df.loc[99]   # 100th Row

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [22]:
df.loc[-1]  # tis will not wok since -1 is not there

KeyError: 'the label [-1] is not in the [index]'

In [23]:
df.iloc[0]   # loc works based on the rowindex lable / name

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [24]:
df.iloc[-1]  # iloc will work by index of the rows Since indexing

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [27]:
df.ix[9]  # this is deprecated going forward

country      Afghanistan
continent           Asia
year                1997
lifeExp           41.763
pop             22227415
gdpPercap        635.341
Name: 9, dtype: object

In [30]:
df.ix[[0, 9, 99]]

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
9   Afghanistan      Asia  1997   41.763  22227415  635.341351
99   Bangladesh      Asia  1967   43.453  62821884  721.186086

In [31]:
df.ix[[0,9,99],['country','year','pop']]

        country  year       pop
0   Afghanistan  1952   8425333
9   Afghanistan  1997  22227415
99   Bangladesh  1967  62821884

In [32]:
df.ix[[0,9,99],[0,3,5]]

        country  lifeExp   gdpPercap
0   Afghanistan   28.801  779.445314
9   Afghanistan   41.763  635.341351
99   Bangladesh   43.453  721.186086

In [33]:
le_mean = df['lifeExp'].mean()

In [34]:
le_mean

59.47443936619713

In [35]:
df.loc[df['lifeExp'] > le_mean,:]

                 country continent  year  lifeExp       pop     gdpPercap
14               Albania    Europe  1962   64.820   1728137   2312.888958
15               Albania    Europe  1967   66.220   1984060   2760.196931
16               Albania    Europe  1972   67.690   2263554   3313.422188
17               Albania    Europe  1977   68.930   2509048   3533.003910
18               Albania    Europe  1982   70.420   2780097   3630.880722
19               Albania    Europe  1987   72.000   3075321   3738.932735
20               Albania    Europe  1992   71.581   3326498   2497.437901
21               Albania    Europe  1997   72.950   3428038   3193.054604
22               Albania    Europe  2002   75.651   3508512   4604.211737
23               Albania    Europe  2007   76.423   3600523   5937.029526
30               Algeria    Africa  1982   61.368  20033753   5745.160213
31               Algeria    Africa  1987   65.799  23254956   5681.358539
32               Algeria    Africa  1992   67.744  26298373   5023.216647
33               Algeria    Africa  1997   69.152  29072015   4797.295051
34               Algeria    Africa  2002   70.994  31287142   5288.040382
35               Algeria    Africa  2007   72.301  33333216   6223.367465
48             Argentina  Americas  1952   62.485  17876956   5911.315053
49             Argentina  Americas  1957   64.399  19610538   6856.856212
50             Argentina  Americas  1962   65.142  21283783   7133.166023
51             Argentina  Americas  1967   65.634  22934225   8052.953021
52             Argentina  Americas  1972   67.065  24779799   9443.038526
53             Argentina  Americas  1977   68.481  26983828  10079.026740
54             Argentina  Americas  1982   69.942  29341374   8997.897412
55             Argentina  Americas  1987   70.774  31620918   9139.671389
56             Argentina  Americas  1992   71.868  33958947   9308.418710
57             Argentina  Americas  1997   73.275  36203463  10967.281950
58             Argentina  Americas  2002   74.340  38331121   8797.640716
59             Argentina  Americas  2007   75.320  40301927  12779.379640
60             Australia   Oceania  1952   69.120   8691212  10039.595640
61             Australia   Oceania  1957   70.330   9712569  10949.649590
...                  ...       ...   ...      ...       ...           ...
1629             Uruguay  Americas  1997   74.223   3262838   9230.240708
1630             Uruguay  Americas  2002   75.307   3363085   7727.002004
1631             Uruguay  Americas  2007   76.384   3447496  10611.462990
1634           Venezuela  Americas  1962   60.770   8143375   8422.974165
1635           Venezuela  Americas  1967   63.479   9709552   9541.474188
1636           Venezuela  Americas  1972   65.712  11515649  10505.259660
1637           Venezuela  Americas  1977   67.456  13503563  13143.950950
1638           Venezuela  Americas  1982   68.557  15620766  11152.410110
1639           Venezuela  Americas  1987   70.190  17910182   9883.584648
1640           Venezuela  Americas  1992   71.150  20265563  10733.926310
1641           Venezuela  Americas  1997   72.146  22374398  10165.495180
1642           Venezuela  Americas  2002   72.766  24287670   8605.047831
1643           Venezuela  Americas  2007   73.747  26084662  11415.805690
1651             Vietnam      Asia  1987   62.820  62826491    820.799445
1652             Vietnam      Asia  1992   67.662  69940728    989.023149
1653             Vietnam      Asia  1997   70.672  76048996   1385.896769
1654             Vietnam      Asia  2002   73.017  80908147   1764.456677
1655             Vietnam      Asia  2007   74.249  85262356   2441.576404
1661  West Bank and Gaza      Asia  1977   60.765   1261091   3682.831494
1662  West Bank and Gaza      Asia  1982   64.406   1425876   4336.032082
1663  West Bank and Gaza      Asia  1987   67.046   1691210   5107.197384
1664  West Bank and Gaza      Asia  1992   69.718   2104779   6017.654756
1665  West Bank and Gaza      Asia  1997   71.096   2826046   7110.667619
1666  West Bank and Gaza      Asia  2002   72.370   3389578   4515.487575
1667  West Bank and Gaza      Asia  2007   73.422   4018332   3025.349798
1678         Yemen, Rep.      Asia  2002   60.308  18701257   2234.820827
1679         Yemen, Rep.      Asia  2007   62.698  22211743   2280.769906
1698            Zimbabwe    Africa  1982   60.363   7636524    788.855041
1699            Zimbabwe    Africa  1987   62.351   9216418    706.157306
1700            Zimbabwe    Africa  1992   60.377  10704340    693.420786

[895 rows x 6 columns]

In [37]:
df.loc[df['lifeExp'] > le_mean,'country'].unique()

array(['Albania', 'Algeria', 'Argentina', 'Australia', 'Austria',
       'Bahrain', 'Bangladesh', 'Belgium', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Cambodia', 'Canada', 'Chile', 'China', 'Colombia', 'Comoros',
       'Costa Rica', 'Croatia', 'Cuba', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Finland',
       'France', 'Gabon', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Haiti', 'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Korea, Dem. Rep.', 'Korea, Rep.',
       'Kuwait', 'Lebanon', 'Lesotho', 'Libya', 'Malaysia', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Reunion', 'Romania', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Singapore', 'Slovak Republic', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Thailand', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.', 'Zimbabwe'], dtype=object)

In [38]:
df.groupby('year')

In [40]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [43]:
# Group the mean life Expectancy by years

df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [42]:
# Find the sum of Global population per year 
df.groupby('year')['pop'].sum()

year
1952    2406957150
1957    2664404580
1962    2899782974
1967    3217478384
1972    3576977158
1977    3930045807
1982    4289436840
1987    4691477418
1992    5110710260
1997    5515204472
2002    5886977579
2007    6251013179
Name: pop, dtype: int64

In [56]:
# Find the population by year and country for year 1982
df.groupby(['year' ,'country'])[['pop','gdpPercap']].median()

'''
Find how to apply where condition in group by 

# Find the population by year and country for year 1982
df.groupby(['year' ,'country'])['pop'].sum()

# Find the population by year and country for year 1982
df.groupby(['year' ,'country'])['pop','gdpPercap'].sum()

'''

                                     pop     gdpPercap
year country
1952 Afghanistan                 8425333    779.445314
     Albania                     1282697   1601.056136
     Algeria                     9279525   2449.008185
     Angola                      4232095   3520.610273
     Argentina                  17876956   5911.315053
     Australia                   8691212  10039.595640
     Austria                     6927772   6137.076492
     Bahrain                      120447   9867.084765
     Bangladesh                 46886859    684.244172
     Belgium                     8730405   8343.105127
     Benin                       1738315   1062.752200
     Bolivia                     2883315   2677.326347
     Bosnia and Herzegovina      2791000    973.533195
     Botswana                     442308    851.241141
     Brazil                     56602560   2108.944355
     Bulgaria                    7274900   2444.286648
     Burkina Faso                4469979    543.255241
     Burundi                     2445618    339.296459
     Cambodia                    4693836    368.469286
     Cameroon                    5009067   1172.667655
     Canada                     14785584  11367.161120
     Central African Republic    1291695   1071.310713
     Chad                        2682462   1178.665927
     Chile                       6377619   3939.978789
     China                     556263527    400.448611
     Colombia                   12350771   2144.115096
     Comoros                      153936   1102.990936
     Congo, Dem. Rep.           14100005    780.542326
     Congo, Rep.                  854885   2125.621418
     Costa Rica                   926317   2627.009471
...                                  ...           ...
2007 Sierra Leone                6144562    862.540756
     Singapore                   4553009  47143.179640
     Slovak Republic             5447502  18678.314350
     Slovenia                    2009245  25768.257590
     Somalia                     9118773    926.141068
     South Africa               43997828   9269.657808
     Spain                      40448191  28821.063700
     Sri Lanka                  20378239   3970.095407
     Sudan                      42292929   2602.394995
     Swaziland                   1133066   4513.480643
     Sweden                      9031088  33859.748350
     Switzerland                 7554661  37506.419070
     Syria                      19314747   4184.548089
     Taiwan                     23174294  28718.276840
     Tanzania                   38139640   1107.482182
     Thailand                   65068149   7458.396327
     Togo                        5701579    882.969944
     Trinidad and Tobago         1056608  18008.509240
     Tunisia                    10276158   7092.923025
     Turkey                     71158647   8458.276384
     Uganda                     29170398   1056.380121
     United Kingdom             60776238  33203.261280
     United States             301139947  42951.653090
     Uruguay                     3447496  10611.462990
     Venezuela                  26084662  11415.805690
     Vietnam                    85262356   2441.576404
     West Bank and Gaza          4018332   3025.349798
     Yemen, Rep.                22211743   2280.769906
     Zambia                     11746035   1271.211593
     Zimbabwe                   12311143    469.709298

[1704 rows x 2 columns]

In [ ]:
# Find the population by year and country for year 1982
df.groupby('')